# Folders
rsconnect/
archived/
out/
project/


config.R
load_all.R

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# translation temp files
po/*~

# Rproj
*.Rproj

#WT login
*login*